* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root {
    --couleur1: black;
    --couleur2: white;
    --couleur3: rgb(100, 164, 198);
    --couleur4: goldenrod;

}

body {
    min-width: 320px;
    font-family: 'Inconsolata', monospace;
    background-color: var(--couleur1);

}
section {
    height: auto;
    width: 100vw;
    top: 0px;
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#contener
{ margin-top: 50px;
    display: grid;
    margin:0 auto;
    grid-template-columns: repeat(19,40px);
    grid-template-rows: repeat(22,40px);
}

.mur
{
    background-image: url('img/herbe.jpg');
    z-index: 1;
}

.sol
{
    background-image: url('img/sol.gif');
    z-index: 1;
}

.bonbon
{
    background-image: url('img/grains.png');
    z-index: 1;
}

.pacman
{
    background-image: url('img/POULET.png');
    z-index: 5;
}

.fantome0
{
    background-image: url('img/renard.png');
    z-index: 5;
}
.fantome1
{
    background-image: url('img/bombe.png');
    z-index: 5;
}
.fantome2
{
    background-image: url('img/dog.png');
    z-index: 5;
}
.fantome3
{
    background-image: url('img/renard.png');
    z-index: 5;
}
h1{
color:var(--couleur4);
text-align: center;
font-size: 32px;
text-transform: uppercase;


}
p{
color:var(--couleur3);
text-align: center;


}
#score{
color:red;
font-size: 24px;

}
.return {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--couleur3);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    list-style: none;
}
a{
border: solid 3px var(--couleur1);
border-radius: 30px;
background-color: var(--couleur2);
color: var(--couleur1);
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;

}