
* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --couleur1: black;
    --couleur2: white;
    --couleur3: rgb(100, 164, 198);
    --couleur4: goldenrod;

}


body {
    min-width: 320px;
    font-family: 'Inconsolata', monospace;
    background-color :  var(--couleur3);

}
 #F, #E{
        font-family: 'Inconsolata', monospace;
        font-size: 20px ;
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
        min-width: 120px;
        text-shadow: 0 0 7px #fff,
        0 0 42px rgb(11, 82, 110),
        0 0 77px rgb(18, 198, 230);
    }
 

  #G,#I {
        font-family: 'Inconsolata', monospace;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
        min-width: 120px;
        
    }
    #J{
        font-family: 'Inconsolata', monospace;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
        min-width: 120px;


    }
 
section {
    height: 100vh;
    width: 100vw;
    top: 0px;
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

h1 {
    color: var(--couleur3);
    text-transform: uppercase;
    font-size: 30px;
   
    } 

h2, span {
    color: var(--couleur3);
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
}
img {

    width: 25vw;
    min-height: 25vh;
    margin-top: 10px;
 
}
img{
animation: fadein 3s;
-moz-animation: fadein 3s; /* Firefox */
-webkit-animation: fadein 3s; /* Safari et Chrome */
-o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInAnimation { 
0% { 
opacity: 0; 
} 
100% { 
opacity: 1; 
} 
} 
#menu{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 80vw;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

}

#menu * {
    color: var(--couleur3);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    padding: 2px 2px 2px 2px;
  

}

#menu *:hover {
     color: var(--couleur4);
    

}

#a,#b,#c{
    font-size: 40px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
   
}
#a{
   
animation: fadein 8s;
-moz-animation: fadein 8s; /* Firefox */
-webkit-animation: fadein 8s; /* Safari et Chrome */
-o-animation: fadein 8s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInAnimation { 
0% { 
opacity: 0; 
} 
100% { 
opacity: 1; 
} 
} 
#b{
    animation: fadein 12s;
    -moz-animation: fadein 12s; /* Firefox */
    -webkit-animation: fadein 12s; /* Safari et Chrome */
    -o-animation: fadein 12s; /* Opera */
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* sur Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* sur Safari et Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* sur Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
    } 
    
#footer {
    background-color: var(--couleur1);
    height: 2vh;
    min-width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 12px;
    
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:var(--couleur1);
    min-width: 9vw;

}
div.navigation{
    min-width: 90vw;
    margin-right: 20px;

}
a.E{
color:var(--couleur1);

}
a.E *:hover {
    color:var(--couleur4);


}
a.F{ color:var(--couleur4);}


#footer>div {
    background-color: var(--couleur1);
    margin-left: 10px;
    margin-right: 10px;
   
   

}
#footer>div>a{
  color: var(--couleur3);
  font-family: 'Goldman', cursive;
  font-size: 12px;
  text-decoration: none;

}
.polling_message {
    color: white;
    float: left;
    margin-right: 2%;
  }
  
  .view_port {
    background-color: black;
    height: 25px;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye {
    background-color: var(--couleur3);
    background-image:         linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    color: white;
    height: 100%;
    width: 20%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;
  }
  
  @-webkit-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
          @keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }

/**************************************************************/
/*          Partie connexion/inscription/formulaires                                 */
/**************************************************************/
div.formulaire, div.inscription{
    background-color: var(--couleur1);
    min-width: 50vw;
    height: 100vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
border: solid 3px var(--couleur3);
border-radius: 10%;
padding-left: 15px;
padding-right: 15px;
padding-top: 20px;
padding-bottom: 20px;
}

label{
color:  var(--couleur3);

}
div.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
input{
height: 40px;
min-width: 320px;
margin-bottom: 10px;
}

div.logvalid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}


/**************************************************************/
/*          Partie produit                                    */
/**************************************************************/
section.produit {
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: auto;
    padding-top: 20px;


}
.hovered {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 80px;
    right: 0;
    height: 30%;
    width: 50%;
    opacity: 0;
    transition: all .3s;
    background-color: var(--couleur2);
    border: solid 3px var(--couleur1);
    border-radius: 30%;
}

.card:hover .hovered {
    opacity: 0.75;
}

.hovered span {
    color: var(--couleur1);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: arial;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


h1.titre {
    font-size: 45px;

}

div.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 80v;
    height: auto;

    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;

}

div.card {

    border: solid 3px var(--couleur3);
    border-radius: 10%;
    color: var(--couleur3);
    font-size: 18px;
    background-color: var(--couleur1);
    margin-left: 30px;
    min-width: 300px;
    min-height: 200px;
    margin-bottom: 20px;

}

h3.cardheader {
    font-size: 18px;
    border-bottom: solid 3px var(--couleur3);
    overflow-wrap: break-word;
    color: var(--couleur4);

}

h5.cardtitle {
    font-size: 15px;
}



h6.card-subtitle {
    font-size: 15px;
    margin-bottom: 5px;

}

h3.cardfooter {
    font-size: 18px;
    border-top: solid 3px var(--couleur3);
    color: var(--couleur4);
}

section.part2 {
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    height: auto;
    margin-top: 10px;
}

h3 {
    color: var(--couleur4);
    font-size: 20px;
    text-shadow: 0 0 7px #fff,
        0 0 42px rgb(11, 82, 110),
        0 0 77px rgb(18, 198, 230);


}

div.listes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--couleur3);
    background-color: var(--couleur1);
    min-width: auto;

}

div.liste1,
div.liste2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--couleur3);
    text-shadow: 0 0 7px #fff,
        0 0 42px rgb(11, 82, 110),
        0 0 77px rgb(18, 198, 230);
    padding-top: 20px;
    font-size: 20px;
}

p{
margin-right: 30px;
margin-left: 30px;

}

h4 {
    color: var(--couleur4);
    font-size: 20px;
    text-shadow: 0 0 7px #fff,
        0 0 42px rgb(11, 82, 110),
        0 0 77px rgb(18, 198, 230);
    padding-top: 20px;

}

div.label {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 90vw;
    ;
    padding-top: 20px;


}

div.l1 {
    width: 80px;
    height: 80px;
    border: solid 3px var(--couleur3);
    margin: 5px;
    background-image: url("../../assets/images/Label_Rouge.png");
    background-size: cover;
}

div.l2 {
    width: 160px;
    height: 80px;
    border: solid 3px var(--couleur3);
    margin: 5px;
    background-image: url("../../assets/images/AB.png");
    background-size: cover;
}

div.l3 {
    width: 120px;
    height: 80px;
    border: solid 3px var(--couleur3);
    margin: 5px;
    background-image: url("../../assets/images/Affiche-Médailles-2018.png");
    background-size: cover;
}

div.l4 {
    width: 80px;
    height: 80px;
    border: solid 3px var(--couleur3);
    margin: 5px;
    background-image: url("../../assets/images/Noir-De-Bigorre.jpg");
    background-size: cover;
}

a.H {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--couleur3);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
/**************************************************************/
/*          Partie emplacement                                   */
/**************************************************************/
section.planning{
 display: flex;
 flex-wrap: wrap;
 flex-direction:column;
 justify-content: center;
 align-items: center;
 min-width:100vw;
 height: auto;

}
table.plann {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color:var(--couleur2);
    min-width:80vw;
    font-size: 18px;
    margin-top: -120px;
    margin-bottom: 40px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
}
table.plann2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--couleur2);
    min-width: 50vw;
    height: auto;
    font-size: 18px;
    margin-bottom: 40px;
    text-shadow: 0 0 7px #fff,
        0 0 42px rgb(11, 82, 110),
        0 0 77px rgb(18, 198, 230);
}
tr{
display: flex;
flex-wrap: wrap;
flex-direction:column;
justify-content: center;
align-items: center;
min-width:80vw;
height: auto;
border: solid 3px var(--couleur3);
}

th{

color:var(--couleur3);
padding-left:50px;
padding-right:50px;
padding-bottom: 10px;
border: solid 3px var(--couleur3);
}
tr>td.jour{ 
    font-size: 24px;
    color: var(--couleur4);
    text-transform: uppercase;
}
i.fa-drumstick-bite{
 font-size: 30px;
 color: var(--couleur4);

}
tr>td.ligne{
color:var(--couleur3);

}



input.invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

/* Voici les règles utilisées pour les messages d'erreur */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

