* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --couleur1: black;
    --couleur2: white;
    --couleur3: rgb(100, 164, 198);
    --couleur4: goldenrod;

}
body {
    min-width: 320px;
    font-family: 'Inconsolata', monospace;
    background-color: var(--couleur1);

}
section{

  background-color: var(--couleur1);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  min-width:100vw;
  height: auto;


}
img {

   width:25%;
   height: 25%;
   margin-top: 10px;
   margin-bottom: 10px;
    
 }


h1{ 
    text-align: center;
    border:solid 3px var(--couleur3);
    border-radius: 30px;
    
    color: var(--couleur1);
    background-color: var(--couleur3);
    margin-bottom: 30px;

}
h2{
    color: var(--couleur4);
    font-size: 16px;


}
p{
    margin-left: 50px;
    margin-right: 50px;
    color: var(--couleur4);
    font-size:24px;
    text-align: center;
}
h4{
    color: var(--couleur3);
    font-size: 14px;

}
h5{
color: var(--couleur3);
font-size: 16px;
margin-left: 15px;
margin-right: 15px;
text-align: center;

}

h6 {
    color: var(--couleur4);
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    margin-top: 20px;

}

.return {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--couleur3);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}